.gridContainer {
    display: grid;
    grid-template-areas: 
        'one c ca cb cc m'
        'two c ca cb cc m'
        'three c ca cb cc m'
        'four c ca cb cc m'
        'five c ca cb cc m'
        'six c ca cb cc m';
        grid-template-columns: 5% 1fr 1fr 30px 30px 5%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
h2 {
    grid-column-start: c;
    grid-column-end: cb;
    text-align: center;
}
label {
    text-align: center;
    font-size: 25px;
}
.clubs {
    grid-column-start: c;
    grid-row-start: two;
}
.clubinput {
    grid-column-start: ca;
    grid-row-start: two;
}
.diamonds {
    grid-column-start: c;
    grid-row-start: three;
}
.diamondsinput {
    grid-column-start: ca;
    grid-row-start: three;
}
.hearts {
    grid-column-start: c;
    grid-row-start: four;
}
.heartsinput {
    grid-column-start: ca;
    grid-row-start: four;
}
.spades {
    grid-column-start: c;
    grid-row-start: five;
}
.spadesinput {
    grid-column-start: ca;
    grid-row-start: five;
}
img {
    max-width: 15%;
}
p {
    grid-column-start: c;
    grid-column-end: c;
    grid-row-start: two, three, four;
    font-size: 25px;
    padding-top: 10px;
}
input {
    text-align: center;
}
.submitButton {
    grid-column-start: ca;
    font-size: 30px;
}
