<div class="mainContainer">
    <nav class="subContainer">
        <a routerLink="/partner-response">
            <div>
                <h1>1 <img src="assets/clubs.png" alt=""></h1>
                <p>This is a bid suitable for opening count (13 or greater). (Read more here)</p>
            </div>
        </a>
    </nav>

    <div class="subContainer2">
        <h1>2 <img src="assets/diamonds.png" alt=""></h1>
        <p>This is a bid suitable for opening count (13 points or greater). Also communicates that you have at least 4 diamonds. (read more here)</p>
    </div>
    <div class="subContainer3">
        <h1>3 <img src="assets/hearts.png" alt=""></h1>
        <p>This bid indicates high point count and at least 7 hearts. (Read more here)</p>
    </div>
    <div class="subContainer4">
        <h1>Pass <img src="" alt=""></h1>
        <p>This bid indicates that you do not have opening count. (Read more here)</p>
    </div>
</div>
