
<div class="mainContainer">
    <ng-container *ngFor="let bid of shownBids">
            <div>
                <a routerLink="/partner-response" (click)="chosenBid(bid)">
                    <h1>{{bid.number}} <img src="{{bid.suit}}" alt=""></h1>
                    <p>{{bid.meaning}}</p>
                </a>
            </div>
    </ng-container>
    <p (click)="test()">test</p>


    <!-- <div class="subContainer2">
        <h1>{{bidTwo.number}} <img src="{{bidTwo.suit}}" alt=""></h1>
        <p>{{bidTwo.meaning}}</p>
    </div>
    <div class="subContainer3">
        <h1>{{bidThree.number}} <img src="{{bidThree.suit}}" alt=""></h1>
        <p>{{bidThree.meaning}}</p>
    </div>
    <div class="subContainer4">
        <h1>{{bidFour.number}} <img src="{{bidFour.suit}}" alt=""></h1>
        <p>{{bidFour.meaning}}</p>
        <p (click)="test()">test</p>
    </div> -->
</div>

<!-- <div>
    <h2>data from distribution clubs: {{ totalPoints }}</h2>
    <input [(ngModel)]="totalPoints" />
    <h2>data from distribution diamonds: {{ diamonds }}</h2>
    <input [(ngModel)]="diamonds" />
    <h2>data from distribution hearts: {{ hearts }}</h2>
    <input [(ngModel)]="hearts" />
    <h2>data from distribution spades: {{ spades }}</h2>
    <input [(ngModel)]="spades" />
    
    
</div> -->
<!-- <div>
    <h2>Data from B: {{ value }} </h2> 
    <input [(ngModel)] = 'value' /> 
    <br>
    <br>
    <a [routerLink]="['/a']">Go to A</a>
</div> -->
