.cardContainer {
    display: grid;
    grid-template-areas: 
        "ca cb cc cd cf"
        "ca cb cc cd cf"
        "ca cb cc cd cf"
        "ca cb cc cd cf";

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
img {
    max-width: 20%;
}
p {
    font-size: 30px;
}
.tenclubs {
    background-color: gray;
}
.jackclubs {
    background-color: gray;
}
.test {
    background-color: white;
}

