<h2>Select your face cards</h2>
<div  class="cardContainer">
    <ng-container *ngFor="let card of cards">
        <div>
            <p id="test" (click)="getTotalPoints(card)">{{card.getNumber()}} <img src="{{card.getSuit()}}" alt=""></p>
        </div>
        
    </ng-container>
</div>
<div>
    <ng-container>
        <form>
            <label for="">points</label>
            <input type="number" value="{{totalPoints}}">
            <a routerLink="/bidscreen"><button>Submit</button></a>
        </form>
    </ng-container>

</div>


