<h2>Select your face cards</h2>
<div  class="cardContainer">
    <ng-container *ngFor="let card of cards;">
        <div>
            <input type="checkbox" id="btnControl" (click)="getPoints(card)"> 
            <label class="btn" for="btnControl">{{card.getNumber()}} <img src="{{card.getSuit()}}" alt=""></label>
        </div>
        
    </ng-container>
</div>
<br>
<div>
            <label for="">points</label>
            <input [(ngModel)]="totalPoints" type="number" value="{{totalPoints}}">
            <a routerLink="/bidscreen"><button>Submit</button></a>
</div>
<p (click)="test()" >test</p>


