.cardContainer {
    display: grid;
    grid-template-areas: 
        "ca cb cc cd cf"
        "ca cb cc cd cf"
        "ca cb cc cd cf"
        "ca cb cc cd cf";

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
img {
    max-width: 20%;
}
p {
    font-size: 30px;
}
.btn:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 1px solid #000000;
    -moz-outline-radius: 7px;
    background-image: linear-gradient(to top, #97e8ae, #3be36b);
  }

.btn:hover {
    background-image: linear-gradient(to bottom, #97e8ae, #3be36b);
}

.btn {
    width: 80px;
    height: 30px;
    background: #ffffff;
    border-radius: 7px;
    padding: 1px 3px;
    box-shadow: 1px 1px 1px #000000;
    display: block;
    text-align: center;
    background-image: linear-gradient(to bottom, #e8e8e8, #a1a1a1);
    font-family: arial;
    font-size: 14px;
    line-height: 30px;
  }
  #btnControl {
    display: none;
  }